/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
/* Margin bottom by footer height */
    margin-bottom: 330px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 330px;
    background-color: rgb(44,172,233);
    border-top: 1em solid #572A76;    
}
     
footer .text-muted {
    margin: 20px 0;
}

footer .column {
    padding: 5px;
}

.footer-information {
    color: #fff;
    text-shadow: 0px 1px rgba(0,0,0,0.5);
}