<div id="#ProjectsList"> \
	<div class="panel panel-primary" style="width: 108px"> \
		<div class="panel-heading"> Spots Open </div> \
		<div class="panel-body text-center"> \
			25  \
		</div> \
	</div> \
</div> 
<div style="padding-bottom: 2px" class="row"> \
	<p> 
		<span class="pull-left"> List of Projects <span class="glyphicon glyphicon-fire"></span> </span> 
		<span class="pull-right"> 
			<button id="addProject"type=button class="btn btn-success"> Add a Project <span class="glyphicon glyphicon-plus"></span></button>
		</span> 
	</p>
</div>