<div class="container">
    <div class="row">
    <div class="col-md-4 column">
    	<h2 class="footer-information"> Interact </h2>
        <p class="center-block footer-information"> <!-- class="footer-information" makes it white" -->
		  Help us make Service Day interactive! Follow us on Twitter and Facebook to keep up-to-date on what's happening during Service Day, and check-in via Foursquare to share your service experiences with others!
    	</p>
        <div style="text-align: center;">
        <img src="img/instagram/instagram.png" class="img-responsive" style="height: 72px; display: inline-block;">
        <img src="img/facebook/facebook.png" class="img-responsive" style="height: 72px; display: inline-block;">
        <img src="img/twitter.png" class="img-responsive" style="height: 72px; display: inline-block;">
        </div>
    </div>
    <div class="col-md-4 column" style="background-color: red;">
    <p class="center-block">
    	<div style="text-align: center;">
        <img src="img/cki-michigan.png" class="img-responsive" style="height: 100px; display: inline-block;">
        Text
        <img src="img/cki-district.png" class="img-responsive" style="height: 100px; display: inline-block;">
        More text
        </div>
        <div style="text-align:center;">
            <img src="img/cki-international.png" class="img-responsive" style="height: 100px; display: inline-block; margin: 10px;">
        </div>
    </p>
    </div>
    <div class="col-md-4 column" style="background-color: blue;"><p class="center-block">
    	<h2 class="footer-information"> Sponsors </h2>
        <p class="footer-information">Food Sponsorships: Revive + Replenish, Pizza House, Insomnia Cookies, Jimmy Johns, Pita Pit, NYPD, BD's Mongolian BBQ, Afternoon Delight, BWW, Noodles and Co., Espresso Royale, Potbelly </p>

        <p class="footer-information">Monetary sponsorships: BP, The Tomorrow Fund, The Ginsberg Center, Underground Printing, LSA Student Government</p>
    </p></div>
</div>