<h4> 
	<% if (active == 1) { %> 
		<span style="color: green;" class="glyphicon glyphicon-ok"></span> 
	<% }  else { %> 
		<span style="color: red;" class="glyphicon glyphicon-remove"></span> 
	<% } %> 

		<span name="drop" style="cursor: pointer;"> <%= text %> </span> <span name="edit" style="cursor: pointer;" class="glyphicon glyphicon-pencil"></span>  
		<img name="internal" src="img/vishaal.png" style="width: 40px; height: auto; cursor: pointer;"/>
		<img name="external" src="img/april.png" style="width: 40px; height: auto; cursor: pointer;"/>
</h4>
<div name="committees" style="display: none;">  
	<table class="table table-bordered" id="UsersList"> 
	<% 	var count = 0;  
	$.each(committees, function(ind, com) {  
		if (count === 0) { %> 
			<tr> 
	<%	} 
		count++; %> 
		<td data-id="<%= com.committeeID %>" data-circle="<%= com.circle %>" class=<% if (activeCommittees.indexOf(com.committeeID) !== -1) { %> "active" <% } %> > <%= com.committeeName %> </td> 
	<%	if (count === 5) { count = 0; %> 
		</tr> 
	<%	} 
	});	%> 
	</table>
</div>